################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/QUAREP-LiMi-Tool-Kit
/src/__pycache__
